<div class="row">
  <div class="col-md-8">
    <h2>Sign Up Confirmation</h2>
  </div>
  <div class="col-md-8">
    <h4>Are you sure these values are correct?</h4>
  </div>
  <div class="col-md-8">
    <p>Email: <%= @user.email %></p>
    <p>Name: <%= @user.name %></p>
  </div>
  <div class="col-md-8">
    <%= button_to 'Yes', {controller: 'users', action: 'create', params: params}, class: 'btn btn-success' %>
    <%= button_to 'No', {controller: 'users', action: 'new', params: params}, method: :get, class: 'btn btn-danger' %>
  </div>
</div>
